* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-image: url(https://cdn.imgchest.com/files/345xc9jbw7w.png);
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.hidden-font {
    visibility: hidden;
}

.container {
    display: grid;
    grid-template-rows:
        minmax(200px, auto)
        minmax(50px, auto)
        minmax(56px, auto)
        minmax(38px, auto)
        minmax(75px, auto)
        minmax(120px, auto)
        minmax(240px, auto)
        minmax(70px, auto)
        minmax(439px, auto);
    grid-template-columns:
        minmax(0, 0.774fr)
        minmax(50px, auto);
    grid-template-areas: 
        "one one"
        "two two"
        "three three"
        "four four"
        "five five"
        "six ten"
        "seven ten"
        "eight ten"
        "nine eleven"
        "nine eleven";
}

.container > * {
    border: 2px dashed blue;
}

@media (max-width: 500px) {
    .container {

        grid-template-columns: 1fr;

        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine"
            "ten"
            "eleven";
    }
}

.box1 {
    grid-area: one;
    background: url(images/demir-advertisement.png) no-repeat;
    background-size: 1020px auto;
}

.box2 {
    grid-area: two;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 18px;

    position: relative;
}

.portal-switcher {
    display: flex;
    gap: 26px;
}

.bazarkg {
    background-image: url(images/bazarkg-logo.39b422a5.svg);
    background-repeat: no-repeat;
    background-size: 80px auto;
    background-position: center;
}

.mashinakg {
    background-image: url(images/logo-mashina-kg.f83a1741.svg);
    background-repeat: no-repeat;
    background-size: 120px auto;
    background-position: center;
}

.right-sub-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.right-sub-menu ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;

    gap: 35px;

    padding: 0;
}

.right-sub-menu li {
    display: flex;
    align-items: center;
}

.right-sub-menu a {
    font-family: Lato, "Helvetica Neue", Helvet;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 2px;
}
.right-sub-menu a.ls-link {
    background-image: url(images/globe.24e46604.svg);
    background-repeat: no-repeat;
    background-size: 18px auto;

    padding-left: 23px;
    background-position: left center;
    color : red;
}
.right-sub-menu a.lk-link {
    color : red;
}
.right-sub-menu a.lv-link {
    color : white;
    font-size: 14px;
    padding-right: 37px;
    padding-left: 16px;

    position: relative;
    z-index: 1;
}

.right-sub-menu .lv-link::before {
    content: "";
    position: absolute;

    top: -6px;
    bottom: -6px;
    left: -16px;

    width: 100%;

    background-color: #00b300;
    border-radius: 20px;
    z-index: -1;
}

.box2 > span {
    top: 0;
    left: 0;

    position: absolute;
}

.box3 {
    grid-area: three;
    display: flex;
    justify-content: end;
    align-items: center;
}

.main-logo {
    width: 210px;
    height: 39px;

    background-image: url(images/logo-house-kg.6df937c9.svg);
    background-repeat: no-repeat;
    background-size: 135px auto;
    background-position: 3px 6px;
}
.box3 ul {
    flex-wrap: wrap;
    list-style: none;
    font-size: 14px;
    color: white;
    padding-bottom: 1px;

    flex-basis: 77.8%;
    display: flex;
    gap: 19.8px;
    align-items: center;
}

.box3 li:nth-child(4) {
    padding-top: 16px;
}
.box3 li:nth-child(1),
.box3 li:nth-child(2) {
    transform: translateX(-20px);
}
.box3 .urgently-button,
.box3 .on-the-map-button {
    position: relative;
    z-index: 1;
}
.box3 .on-the-map-button::before {
    content: "";
    position: absolute;

    top: -6px;
    bottom: -10px;
    left: -30px;
    right: -11px;


    background-color: #ff9000;
    border-radius: 20px;
    z-index: -1;

}
.box3 .urgently-button::before {
    content: "";
    position: absolute;

    top: -6px;
    bottom: -11px;
    left: -10px;
    right: -9px;


    background-color: #ff9000;
    border-radius: 20px;
    z-index: -1;
}

.box4 {
    grid-area: four;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.flexed-right {
    display: flex;
    align-items: center;
}

.box4 > h1 {
    padding-left: 20px;
    padding-bottom: 3px;
    font-size: 13px;
    color: black;
}

.box4 b {
    line-height: 1;
}

.rek-people-link {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #60bbed;
}
.box4 .rek-people-link > b {
    padding-right: 18px;
}

.box5 {
    grid-area: five;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 19px;
}

.quick-search-form {
    padding: 8px;
    background: #ff0000;
    border-radius: 4px;
}

.qs-fields {
    display: flex;
    flex: 1;

    border-radius: 5px;
    overflow: hidden;
}

.qs-inner {
    display: flex;
    align-items: center;
}

.qs-fields select,
.qs-fields input {
    height: 36px;
    font-size: 13px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-right: none;
    background: white;
}

.qs-fields select {
    background-repeat: no-repeat;
    background-position: right 8px center;
}

.qs-fields select.type {
    flex: 0 0 151px;
}

.qs-fields select.category {
    flex: 0 0 165px;
}

.qs-fields select.rooms {
    flex: 0 0 145px;
}
.qs-fields > input {
    flex: 0 0 225px;
}

.qs-buttons {
    display: flex;
    gap: 9px;
}

.btn {
    height: 32px;
    padding: 0 14px;
    font-size: 13px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn.primary-search {
    background-color: #00b300;
    background-image: url(images/search-ico.2cfb0e08.svg);
    background-repeat: no-repeat;
    background-position: 12px center;

    padding-left: 30px;
    color: white;
}

.btn.show-map {
    background: white;
    background-image: url(images/map-ico.ed6a40c1.svg);
    background-repeat: no-repeat;
    background-position: 14px;
    font-size: 13px;
    font-weight: 700;
    color: black;
    width: 176px;
    padding-left: 33px;
}

.box6 {
    grid-area: six;
    background-image: url(images/2025-12-21-161956_hyprshot.png);
    background-repeat: no-repeat;
    background-size: 715px auto;
    background-position: 20px 18px;
}
.box7 {
    grid-area: seven;
}
.title {
    display: flex;
    justify-content: space-between;
}
.box7 span {
    font-size: 20px;
    font-weight: 700;
    color: black;
    padding-left: 26px;
    padding-top: 1px;
}
.box7 .all-companies-btn {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-right: 36px;
    text-decoration: none;
    color: #5fbaed;
}
.box7 .business-main-block {
    position: relative;
    height: 200px;
}
.business-main-block img {
    visibility: hidden;
}

#indicator {
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;

    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    z-index: 10;
}

#indicator li {
    position: relative;
    width: 60px;
    height: 42%;
}
#indicator > li::before {
    background-repeat: no-repeat;
    background-position: 10px 9px;
}
#indicator > li.next::before {
    background-image: url(images/angle-right.e79c06ce.svg);
}
#indicator > li.prev::before {
    background-image: url(images/angle-left.ef254ea7.svg);
}

#indicator li::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 40%;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-10%, -49%);
}

.business-slider-wrapper {
    height: 100%;

}
.box8 {
    grid-area: eight;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding-left: 6px;
}
.btn {
    text-decoration: none;

    font-size: 14px;
    display: flex;
    align-items: center;
}
.box8 > .btn {
    text-decoration: none;
    color: white;
    background-color: #008fdd;

    display: flex;
    align-items: center;

    padding: 19px 15px;
    margin-top: -6px;

    font-size: 14px;
    font-weight: 700;

    border-radius: 3px;
}
.box9 {
    grid-area: nine;
}
.box9 > .title {
    height: 61px;
    display: flex;
    align-items: center;
}
.title > span {
    padding-left: 25px;
    padding-bottom: 5px;
    color: black;
    font-size: 18px;
    font-family: Pt Sans,Helvetica;
    font-weight: 700;
}
.box9 .all-ads-btn {
    padding-right: 35px;
    color: #008fdd;
}

.box9 .category-block-content {
    padding-left: 3px;

    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: center;
}

.category-block-item {
    flex: 0 0 223px;

    height: auto;
    display: grid;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.category-block-item > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.category-block-item .pic img {
    opacity: 0;
    max-width: 100%;
    height: 173px;

    display: block;
}
.category-block-item .price {
    height: 10%;
    padding-left: 1px;
    display: flex;
    justify-content: start;
}
.category-block-item .price-in-dollars {
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
}
.category-block-item .price-in-soms {
    padding-left: 11px;
    align-self: end;
    color: white;
    font-size: 11px;
}
.category-block-item .city {
    height: 10%;
    flex-basis: 10%;
    position: relative;
    top: -1px;
    left: 1px;
}
.category-block-content span {
    padding-left: 6px;
    padding-bottom: 1px;
}
.category-block-content .city > span {
    font-size: 12px;
    color: white;
}
.category-block-item .main-title {
    align-self: end;
    justify-self: start;
    color: white;
    margin: 8px;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: 700;
}
.category-block-item .main-isvip {
    height: 32px;
    width: 32px;
    background-image: url(images/crown-icon.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -10px;
    bottom: -4px;
    z-index: 10;
}

.box10 {
    grid-area: ten;
    background-image: url(images/2025-12-21-162411_hyprshot.png);
    background-repeat: no-repeat;
    background-size: 245px auto;
    background-position: 3px 16px;
}
.box11 {
    grid-area: eleven;
    background-image: url(images/2025-12-21-162703_hyprshot.png);
    background-repeat: no-repeat;
    background-size: 245px auto;
    background-position: 3px 16px;
}

