* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-image: url(https://cdn.imgchest.com/files/345xc9jbw7w.png);
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container {
    display: grid;
    grid-template-rows:
        minmax(100px, 200px)
        minmax(30px, 50px)
        minmax(40px, 56px)
        minmax(25px, 38px)
        minmax(50px, 75px)
        minmax(80px, 120px)
        minmax(150px, 240px)
        minmax(45px, 70px)
        minmax(300px, 440px);
    grid-template-columns:
        minmax(150px, 200px)
        minmax(200px, 315px);
    grid-template-areas: 
        "one one one one"
        "two two two two"
        "three three three three"
        "four four four four "
        "five five five five "
        "six six six ten"
        "seven seven seven ten"
        "eight eight eight ten"
        "nine nine nine eleven"
        "nine nine nine eleven"
}
.container > * {
    border: 2px dashed blue;
    border: 2px dashed rgba(0, 0, 255, 0.6);
}
.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
    display: flex;
    justify-content: end;
}
.box3 ul {
    list-style: none;
    font-size: 14px;
    padding-bottom: 1px;

    flex-basis: 77.8%;
    display: flex;
    gap: 19.8px;
    align-items: center;
}

.box3 li:nth-child(4) {
    padding-top: 16px;
}
.box3 li:nth-child(1),
.box3 li:nth-child(2) {
    transform: translateX(-21px);
}

.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
.box9 {
    grid-area: nine;
}
.box10 {
    grid-area: ten;
}
.box11 {
    grid-area: eleven;
}
