* {
    margin: 0;
    box-sizing: border-box;
}

img:nth-of-type(1) {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: none;
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: 1;
    color: blue;
}

.container {
    display: grid;
    grid-template-rows:
        minmax(100px, auto)
        minmax(50px, auto)
        minmax(250px, auto)
        minmax(75px, auto)
        minmax(120px, auto)
        minmax(70px, auto)
        minmax(439px, auto);
    grid-template-columns:
        minmax(200px, 280px)
        minmax(50px, 1fr)
        minmax(200px, 1fr)
        minmax(300px, 1fr);
    grid-template-areas: 
      "one  two two two"
      "three  two two two"
      "three  six six six"
      "four   four  five seven"
      "eight eight eight eight";
}

.container > * {
    border: 2px dashed blue;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;

        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine"
            "ten"
            "eleven";
    }
}

.main-logo {
    grid-area: one;
    background: url(images/logo-house-kg.6df937c9.svg) no-repeat 20px 14px;
    background-color: red;
    background-size: 230px auto;
}

.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
    display: flex;
    justify-content: start;
}

.navbar {
    list-style: none;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff9fa;
}
.navbar > * {
    color: black;
    font-style: normal;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}


.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
.box9 {
    grid-area: nine;
}
.box10 {
    grid-area: ten;
}
.box11 {
    grid-area: eleven;
}
