* {
    margin: 0;
    box-sizing: border-box;
}

img:nth-of-type(1) {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: none;
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: 1;
    color: blue;
}

.container {
    display: grid;
    grid-template-rows:
        minmax(60px, auto)
        minmax(120px, auto)
        minmax(250px, auto)
        minmax(265px, auto)
        minmax(150px, auto)
        minmax(160px, auto)
        minmax(300px, auto);
    grid-template-columns:
        minmax(200px, 200px)
        minmax(50px, 1fr)
        minmax(200px, 1fr)
        minmax(300px, 1fr);
    grid-template-areas: 
      "one one one one"
      "three  two two two"
      "four   five five five"
      "six   seven seven seven"
      "eight eight eight eight"
      "nine nine nine nine"
      "ten ten ten ten"
}

.container > * {
    border: 2px dashed blue;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;

        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine"
            "ten"
            "eleven";
    }
}

.box1 {
    grid-area: one;
    background: url(images/logo-house-kg.6df937c9.svg) no-repeat 20px 14px;
    background-color: rgb(216, 55, 0);
    background-size: 150px auto;
}

.box2 {
    grid-area: two;
    background: url(images/branding-goldenhouse-8aug2025.f894a579.webp) no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.box2 > h1 {
    font-size: 20px;
    color: white;

    background-color: orange;
    padding: 10px 32px;
    border-radius: 12px;
}
.box2 > span {
    position: absolute;
    top: 0;
    left: 0;
}
.box3 {
    grid-area: three;
    display: flex;
    justify-content: start;
    background-color: rgb(216, 55, 0);

    position: relative;
}
.box3 > span {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
    list-style: none;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    align-items: start;
}
.navbar > * {
    color: white;
    font-style: normal;
    padding: 10px;
    text-transform: uppercase;
}

.box4 {
    grid-area: four;
    background: url(images/right-nurzaman-24nov2025.35cf5a0c.webp) no-repeat;
    background-size: cover;
}

.box5 {
    grid-area: five;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;

    position: relative;
}
.box5 > span {
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;
}

.box5-item {
    width: 170px;
    height: auto;
    display: grid;
    border: 3px solid #FFD700;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.box5-item > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box5-item .pic img {
    width: 100%;
    height: 100%;
    display: block;
}

.box5-item .price-in-dollars {
    align-self: start;
    justify-self: start;
    background-color: #FF6600;
    color: white;
    padding: 4px 8px;
    font-weight: bold;
    margin: 6px;
    border-radius: 4px;
    font-size: 14px;
}

.box5-item .price-in-soms {
    justify-self: end;
    align-self: start;
    color: white;
    font-size: 11px;
    margin: 7px;
}

.box5-item .town {
    align-self: end;
    justify-self: start;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    margin: 8px;
    font-size: 12px;
}

.box6 {
    grid-area: six;
    background: url(images/right-banner2-barcelona-8sep2025.23bc58d1.webp) no-repeat;
    background-size: cover;
}
.box7 {
    grid-area: seven;
    background: url(images/top-pn-banner.690b5bda.jpg) no-repeat;
    background-size: cover;
}
.box8 {
    grid-area: eight;
    background-image: url("https://www.house.kg/build/images/map-banner-upd.f89e3d08.png");
    background-size: cover;
}
.box9 {
    grid-area: nine;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    justify-content: center;

    position: relative;
}
.box9 > span {
    position: absolute;

    top: 0;
    left: 0;
    z-index: 1
}
.box10 {
    grid-area: ten;
    background-color: black;
}
