* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-image: url(https://cdn.imgchest.com/files/345xc9jbw7w.png);
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container {
    display: grid;
    grid-template-rows:
        minmax(200px, auto)
        minmax(50px, auto)
        minmax(55px, auto)
        minmax(0px, 39px)
        minmax(75px, auto)
        minmax(120px, auto)
        minmax(240px, auto)
        minmax(70px, auto)
        minmax(439px, auto);
    grid-template-columns:
        minmax(530px, auto)
        minmax(50px, auto);
    grid-template-areas: 
        "one one"
        "two two"
        "three three"
        "four four"
        "five five"
        "six ten"
        "seven ten"
        "eight ten"
        "nine eleven"
        "nine eleven"
}

.container > * {
    border: 2px dashed blue;
}

@media (max-width: 500px) {
    .container {

        grid-template-columns: 1fr;

        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine"
            "ten"
            "eleven";
    }
}


.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
    display: flex;
    justify-content: end;
}

.box3 ul {
    flex-wrap: wrap;
    list-style: none;
    font-size: 14px;
    padding-bottom: 1px;

    flex-basis: 77.8%;
    display: flex;
    gap: 19.8px;
    align-items: center;


}

.box3 li:nth-child(4) {
    padding-top: 16px;
}
.box3 li:nth-child(1),
.box3 li:nth-child(2) {
    transform: translateX(-20px);
}

.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
.box9 {
    grid-area: nine;
}
.box10 {
    grid-area: ten;
}
.box11 {
    grid-area: eleven;
}
