* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/345xc9jbw7w.png);
    background-repeat: no-repeat;
    max-width: 1020px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container {
    display: grid;
    grid-template-rows: 200px 50px 56px 38px 75px 120px 240px 70px 440px;
    grid-template-columns: 200px 315px;
    grid-template-areas: 
        "one one one one"
        "two two two two"
        "three three three three"
        "four four four four "
        "five five five five "
        "six six six ten"
        "seven seven seven ten"
        "eight eight eight ten"
        "nine nine nine eleven"
        "nine nine nine eleven"
}
.container > * {
    border: 2px dashed blue;
}
.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
.box9 {
    grid-area: nine;
}
.box10 {
    grid-area: ten;
}
.box11 {
    grid-area: eleven;
}
